version: 5.193.0
source https://www.nuget.org/api/v2
framework: netcoreapp2.1, netstandard2.0
storage: none

nuget ArgU
nuget FSAst
nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget Fantomas == 2.9
nuget FParsec 1.0.3
nuget Froto.Parser
nuget Froto.Serialization
nuget Fleece.NewtonsoftJson 0.7.0
nuget Newtonsoft.Json 11.0.2
nuget NuGet.CommandLine  == 4.7.1 storage: packages

nuget Microsoft.SourceLink.GitHub copy_local: true

github 7sharp9/FSharp.TypeProviders.SDK:generator src/ProvidedTypes.fs 
github 7sharp9/FSharp.TypeProviders.SDK:generator src/ProvidedTypesTesting.fs 

group IntegrationTests
    source https://www.nuget.org/api/v2
    framework: netcoreapp2.1, netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Expecto ~> 8.4
    nuget Expecto.TestResults ~> 8.4
