source https://www.nuget.org/api/v2
nuget ArgU
nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget Fantomas 2.8.0
nuget FParsec 1.0.3
nuget Froto.Parser
nuget Froto.Serialization
nuget Fleece.NewtonsoftJson 0.7.0
nuget Newtonsoft.Json 11.0.2

github 7sharp9/FSharp.TypeProviders.SDK:generator src/ProvidedTypes.fs 
github 7sharp9/FSharp.TypeProviders.SDK:generator src/ProvidedTypesTesting.fs 

github 7sharp9/FsAst AstRcd.fs
github 7sharp9/FsAst AstCreate.fs
github 7sharp9/FsAst PrintAstInfo.fs
github 7sharp9/FsAst FormatFs.fs
github 7sharp9/FsAst CreateAst.fs

group MergeNupkgTool
source https://www.nuget.org/api/v2
frameworks: netcoreapp2.0, netstandard2.0

clitool dotnet-mergenupkg ~> 2.4
