version 5.195.4

source https://www.nuget.org/api/v2
framework: netcoreapp3.1, netstandard2.0
storage: none

nuget ArgU
nuget FSAst
nuget FSharp.Compiler.Service 25.0.1
nuget FSharp.Core 4.5.4 strategy: min
nuget Fantomas 2.9.2
nuget FParsec 1.0.3
nuget Froto.Parser
nuget Froto.Serialization
nuget Fleece.NewtonsoftJson 0.8.0-alpha-3
nuget Newtonsoft.Json 11.0.2

nuget Microsoft.SourceLink.GitHub 1.0.0 copy_local: true

github 7sharp9/FSharp.TypeProviders.SDK:falanx src/ProvidedTypes.fsi 5dd0739e04416e53222e3a179038b99ad2611e86
github 7sharp9/FSharp.TypeProviders.SDK:falanx src/ProvidedTypes.fs 5dd0739e04416e53222e3a179038b99ad2611e86
github 7sharp9/FSharp.TypeProviders.SDK:falanx src/ProvidedTypesTesting.fs 5dd0739e04416e53222e3a179038b99ad2611e86

group IntegrationTests
source https://www.nuget.org/api/v2
framework: netcoreapp3.1, netstandard2.0
storage: none

nuget FSharp.Core 4.5.4 strategy: min
nuget Expecto ~> 8.4
nuget Expecto.TestResults ~> 8.4
nuget MedallionShell ~> 1.5

github enricosada/dotnet-proj-info test/dotnet-proj.Tests/FileUtils.fs

group ProtoTests

github protocolbuffers/protobuf:47d33e752e5256bec315e5867b940ca33d66e8a2 csharp/protos/unittest_proto3.proto
github protocolbuffers/protobuf:47d33e752e5256bec315e5867b940ca33d66e8a2 csharp/protos/unittest_import_proto3.proto
